@import "./_variables.scss";

:root {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: $dark-blue;
  color: white;
}
button{
  padding: 0.5% 1.5%;
  background-color: $light-blue;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}
button:hover{
  border: 2px solid $dark-pastel-green;
  background-color: $dark-blue;
  padding: 0.4% 1.4%;
  color: $dark-pastel-green;
  cursor: pointer;
}
// remove all decoration from all <Link/> tags
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}


