@import '../../../assets/css/App.scss';

.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../../../assets/svg/wave-up.svg) no-repeat bottom ;
    padding-bottom: 12%;
    margin-bottom: -1%;
    position: relative;
    .flow{
        position:absolute;
        z-index: 1;
        height: 110px;
        width: 100px;
    }
    #cup{
        left:90%;
        background: url(../../../assets/svg/coffeecup.svg) no-repeat;
        background-size: 80% 100%;
    }
    #bean{
        left:50%;
        top:25%;
        // transform: rotate(300deg) ;
        background: url(../../../assets/svg/bean.svg) no-repeat;
        background-size: 80%;
    }
    #mocha{
        width: 155px;
        height: 160px;;
        left:5%;
        top:55%;
        transform: rotate(300deg) scaleX(-1);
        background: url(../../../assets/svg/mocha.svg) no-repeat;
        background-size: 95%;
    }
    .title{
        p{
            font-family: 'Grand Hotel', cursive;
            font-size: 10rem;
            margin-top: -5%;
        }
    }
    .reviews-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        margin-top: -5%;
        text-align: center;
        div{
            width: 30%;
        }
        .card{
            >:nth-child(2){
                font-family: 'Grand Hotel', cursive;
                font-size: 2rem;
            }
            >:nth-child(3){
                font-weight: 300;
            }
        }
    }
}
@media (max-width: 1024px ) or (min-width:768px){
    .review{
        margin-bottom: -1%;
    }

}