@import './../../../assets/css/App.scss';

.branch{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../../assets/svg/wave-buttom.svg) no-repeat top,url(../../../assets/svg/wave-up.svg) no-repeat bottom;
    background-size: 100%;
    >:nth-child(1){
        padding-top: 5%;
        p{
            font-family: 'Grand Hotel', cursive;
            font-size: 10rem;
            // margin-top: -5%;
        }
    }
    .branchs{
        display: flex;
        flex-direction: row;
        width: 85%;
        justify-content: space-around;
        margin-top: -5%;
        padding-bottom: 12%;
        .card{
            width: 33.33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            img{
                margin-bottom: 10%;
                box-shadow: 0px 0px 15px 1px $amber-orange;
            }
            img:hover{
                box-shadow: 0px 0px 10px 5px $amber-orange;
            }
            span{
                width: 50%;
                font-size: 2rem;
                font-weight: 400;
                background-color: $light-blue;
                border-radius: 15PX;
                // font-family: 'Montserrat', sans-serif;
            }
            p{
                width: 90%;
                font-weight: 200;

            }
        }
        
    }
}